@page
@model dz.Pages.CreateModel

@{
    Layout = "Shared/_Layout";
}

<h2>Добавление нового задания</h2>
<form method="post">
    <p>
        <label for="ClassId">Выберете класс</label>
        <select id="classId" name="classId">
            @foreach (var i in @Model.Cour)
            {
            <option value="@i">@i</option>
            }
        </select>
    </p>
    <p>
        <label>Заголовок</label><br />
        <input name="subject" />
    </p>
    <p>
        <label>Описание</label><br />
        <input name="message" />
    </p>
   
    <input type="submit" value="Отправить" />
</form>