@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <h2 class="display-4">Аннотация</h2>
</div>
<p><a>Авторизация по ролям учитель ученик</a></p>
<p><a>Задания - отображение заданий</a></p>
<p><a>Создать задание - только для учителей</a></p>

